<h2>Show Notification</h2>

<ul>

  <li>
    <strong>Currency:</strong>
    <%= @notification.currency %>
  </li>

  <li>
    <strong>Threshold:</strong>
    <%= @notification.threshold %>
  </li>

  <li>
    <strong>Above:</strong>
    <%= @notification.above %>
  </li>

</ul>

<span><%= link "Edit", to: notification_path(@conn, :edit, @notification) %></span>
<span><%= link "Back", to: notification_path(@conn, :index) %></span>
