<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello CryptoTracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md" role="navigation">
      <%= link "CryptoTracker", to: currency_path(@conn, :index), class: "navbar-brand" %>

      <div class="collapse navbar-collapse" id="main-navbar">
      </div>

      <%= if @current_user do %>
        <span class="text-light">
          <%= link @current_user.email, to: user_path(@conn, :show, @current_user) %> |
          <%= link("logout", to: session_path(@conn, :logout), method: :delete) %>
        </span>
      <% else %>
        <%= form_for @conn, session_path(@conn, :login),
              [as: "user", class: "form-inline w-100"], fn f -> %>
          <div class="input-group">
            <input type="text" placeholder="email"
                               class="form-control" name="email">
            <input type="password" placeholder="password"
                               class="form-control" name="password">
            <input type="submit" value="Log in" class="btn btn-primary">
            <%= link "Sign Up", to: user_path(@conn, :new), class: "nav-link" %>
          </div>
        <% end %>
      <% end %>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 my-2">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
        </div>

        <div class="col-sm-1 my-2"></div>
        <div class="col-sm-10 my-2">
          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
